## LA Parking Citation Exploratory Data Analysis

#### Fisher Ankney
#### October 27th, 2018

<br> 

data avaliable on Kaggle or https://data.lacity.org/

This goal of this notebook is EDA 1

### Load Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# load individual sets
la_ticket_2017_1 = pd.read_csv("~/Documents/data_science/py_la_tickets/la_ticket_2017_1.csv")
la_ticket_2017_2 = pd.read_csv("~/Documents/data_science/py_la_tickets/la_ticket_2017_2.csv")
la_ticket_2017_3 = pd.read_csv("~/Documents/data_science/py_la_tickets/la_ticket_2017_3.csv")

In [16]:
# combine dataset
la_ticket_2017 = pd.concat([la_ticket_2017_1,la_ticket_2017_2,la_ticket_2017_3])

In [17]:
# view dataset
la_ticket_2017.head()

,Unnamed: 0,Issue time,Meter Id,RP State Plate,Make,Body Style,Color,Location,Violation code,Violation Description,Fine amount,Latitude,Longitude,Month,Day
0,2777524,104.0,NaN,OR,TOYT,PA,BL,1822 WINONA BLVD,80.56E4+,RED ZONE,93.0,6.470239e+06,1.860397e+06,3,1
1,2777558,1050.0,NaN,CA,HOND,PA,BK,710 EL CENTRO AV,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,3,28
2,2827647,115.0,NaN,CA,HOND,PA,GY,7502 WILLIS AVENUE,22500E,BLOCKING DRIVEWAY,68.0,6.424012e+06,1.897916e+06,1,3
3,2827648,126.0,NaN,CA,FORD,VN,WT,14957 FRIAR STREET,5204A-,DISPLAY OF TABS,25.0,6.422948e+06,1.890266e+06,1,3
4,2827649,132.0,NaN,CA,HOND,PA,BK,14634 SYLVAN ST,22514,FIRE HYDRANT,68.0,6.425072e+06,1.889888e+06,1,3

In [18]:
len(la_ticket_2017)

2254329

Goals - 

Create Day of the year variable
- visualize day of year / tickets given
- visualize day of year / sum(fine amount)

Plot Issue Time

Plot Location against city map

Categorical Variable Analysis Make / Color
- more likely to get ticket of Ford / Red?
- Plot Tickets Per State on heat map?

Which meters are the worst?

Most common violation?
- violation always the same fine amount?
- what changes it if it is different

Outliers
- least common Violation
- Most Expensive Violation
- Best meter
- cheapest fine
- days with no fines

In [ ]:
# plt.style.use('ggplot')
# la_ticket_2017.hist(column='Fine amount', bins = 20)